<!--about-starts-->
	<div class="about">
		<div class="container">
			<div class="about-main">
				<div class="col-md-12 about-left">
					<div class="about-tre head-bt">
					<a href="#"><button class="btn-gt">おすすめのスポット</button></a>
						<div class="a-1 r-bn">
							<div class="col-md-4 abt-left">
								<a href="single.html"><%= image_tag "h1.jpg",alt:"", class:"img-bn" %></a>
								<h3><a href="single.html">アリカホテル</a></h3>
								
							</div>
							<div class="col-md-4 abt-left">
								<a href="single.html"><%= image_tag "h2.jpg",alt:"", class:"img-bn" %></a>
								<h3><a href="single.html">フクイホテル</a></h3>
								
							</div>
							<div class="col-md-4 abt-left">
								<a href="single.html"><%= image_tag "h3.jpg",alt:"", class:"img-bn" %></a>
								<h3><a href="single.html">フオカホテフ</a></h3>
								
							</div>
							<div class="clearfix"></div>
						</div>	
					<a href="#"><button class="btn-gt">パーティーにうってつけのスポット</button></a>
						<div class="a-1 r-bn">
							<div class="col-md-4 abt-left">
								<a href="single.html"><%= image_tag "h4.jpg",alt:"", class:"img-bn" %></a>
								<h3><a href="single.html">ナゴヤホテル</a></h3>
								
							</div>
							<div class="col-md-4 abt-left">
								<a href="single.html"><%= image_tag "h5.jpg",alt:"", class:"img-bn" %></a>
								<h3><a href="single.html">サクラホテフ</a></h3>
								
							</div>
							<div class="col-md-4 abt-left">
								<a href="single.html"><%= image_tag "h6.jpg",alt:"", class:"img-bn" %></a>
								<h3><a href="single.html">フジホテル</a></h3>
								
							</div>
							<div class="clearfix"></div>
						</div>	
					</div>		
			</div>		
		</div>
	</div>
	<!--about-end-->
	<!--slide-starts-->
	<div class="slide">
		<div class="container">
			<div class="fle-xsel">
			<ul id="flexiselDemo3">
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h7.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h8.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>			
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h9.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>		
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h10.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>	
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h3.jpg",class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>	
				<li>
					<a href="#">
						<div class="banner-1">
							<%= image_tag "h2.jpg", class:"img-responsive", alt:"" %>
						</div>
					</a>
				</li>				
			</ul>
							
							 <script type="text/javascript">
								$(window).load(function() {
									
									$("#flexiselDemo3").flexisel({
										visibleItems: 5,
										animationSpeed: 1000,
										autoPlay: true,
										autoPlaySpeed: 3000,    		
										pauseOnHover: true,
										enableResponsiveBreakpoints: true,
										responsiveBreakpoints: { 
											portrait: { 
												changePoint:480,
												visibleItems: 2
											}, 
											landscape: { 
												changePoint:640,
												visibleItems: 3
											},
											tablet: { 
												changePoint:768,
												visibleItems: 3
											}
										}
									});
									
								});
								</script>
								<%= javascript_include_tag 'jquery.flexisel.js', type: "text/javascript"%>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>	
	<!--slide-end-->