<div class="row">
    <div class="title">
        <% if @keyword %>
            <h1>検索結果</h1>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 sidebar">
        <div class="row">
            <div>
                <h2>設備やサービス</h2>
                <%= form_tag '', method: :get do %>
                    <div class="list-group">
                        <p class="list-group-item">
                            <%= check_box_tag 'wifi' %>無料Wi-Fi
                        </p>
                        <p class="list-group-item">
                            <%= check_box_tag 'breakfast' %>朝食込み
                        </p>
                        <p class="list-group-item">
                            <%= check_box_tag 'pool' %>プール
                        </p>
                        <p class="list-group-item">
                            <%= check_box_tag 'parking' %>無料駐車場
                        </p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div>
                <h2>旅行者の評価</h2>
                <div class="list-group">
                    <% 5.times do |i| %>
                        <button type="button" class="btn btn-grey btn-sm" id="star<%= i %>" aria-label="Left Align" onClick="handleStar(<%= i+1 %>)">
                             <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                    <% end %>
                    <%= text_field_tag "star", nil, maxlength: 1, class: "dhidden" %>
                    <br>
                    <br>
                    <%= submit_tag "Filter", class: "btn btn-primary" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-sm-8 info" >
        <div class="row">
            <ul class="pager">
                <%= paginate @hotels, :theme => 'twitter-bootstrap' %>
            </ul>
        </div>
        <% @hotels.each do |hotel| %>
            <div class="row well hotel">
                <div class="col-sm-7 hotel-img">
                    <%= link_to image_tag("hotel.jpg", alt: "hotel logo")%>
                </div>
                <div class="col-sm-5 hotel-information">
                    <h4><%= link_to hotel.name, hotel_path(hotel.id) %></h4>
                    <p><%= hotel.address %></p>
                    <p><%= link_to "詳細を見る", hotel_path(hotel.id) %></p>
                    <% if hotel.average("quality") %>
                    <div class="rating-block">
                      <h4>
                        レーティング: <span style="color: red;"><bold><%= hotel.average("quality").avg.round(1) %></bold></span>
                        (<%= hotel.rates("quality").count %> 回)
                      </h4>
                    </div>
                    <% end %>
                </div>
            </div>
        <% end %>
        <div class="row">
            <ul class="pager">
                <%= paginate @hotels, :theme => 'twitter-bootstrap' %>
            </ul>
        </div>
    </div>
</div>
