<div class="row">
	<div class="title-hotel">
		<h1>ホテル名：<%= @hotel.name %></h1>
	</div>
</div>
<div class="row">
    <div class="img-hotel">
        <div class="col-sm-8 img-hotel-left">
            <%= image_tag("hotel.jpg", alt: "hotel logo")%>
        </div>
        <div class="col-sm-4 img-hotel-right">
            <div class="row">
                <%= image_tag("hotel.jpg", alt: "hotel logo")%>
            </div>
            <div class="row">
                <%= image_tag("hotel.jpg", alt: "hotel logo")%>
            </div>
            <div class="row">
                <%= image_tag("hotel.jpg", alt: "hotel logo")%>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="well hotel-description">
        <h3 style="color:green">ホテルの基本情報:</h3>
        <h4>住所: <%= @hotel.address %></h4>
        <input id="address1" class="hidden-data" value="<%= @hotel.address %>"></input>
        <input id="address2" class="hidden-data" value="<%= @hotel.address %>"></input>
        <h4>電話番号: <%= @hotel.phone_number%></h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 well rank-hotel">
        <div class="row">
			<div class="rating-block">
				<h2 class="bold padding-bottom-7"><%=@hotel.rate_avg%><small>/ 5</small></h2>
				<% (1..5).step(1) do |i| %>
					<% if @rate && i <= @rate.rate %>
						<%= button_to(hotel_path, method: :get, type: "button", class: "btn btn-warning btn-sm",
							aria:{label: "Left Align"}, form: {style: 'display:inline-block;'}, params: {start: i})do %>
							<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<% end %>
					<% else %>
						<%= button_to(hotel_path, method: :get, type: "button", class: "btn btn-default btn-grey btn-sm",
							aria:{label: "Left Align"}, form: {style: 'display:inline-block;'}, params: {start: i})do %>
							<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="row">
			<h4>Rating breakdown</h4>
			<div class="pull-left">
		        <div class="pull-left" style="width:35px; line-height:1;">
				<div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
			</div>
			    <div class="pull-left" style="width:180px;">
				<div class="progress" style="height:9px; margin:8px 0;">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
						<span class="sr-only">80% Complete (danger)</span>
					</div>
				</div>
			</div>
			    <div class="pull-right" style="margin-left:10px;">1</div>
			</div>
			<div class="pull-left">
				<div class="pull-left" style="width:35px; line-height:1;">
					<div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
				</div>
				<div class="pull-left" style="width:180px;">
					<div class="progress" style="height:9px; margin:8px 0;">
						 <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
						    <span class="sr-only">80% Complete (danger)</span>
					    </div>
				    </div>
				</div>
				<div class="pull-right" style="margin-left:10px;">1</div>
			</div>
			<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">0</div>
				</div>
			<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">0</div>
				</div>
			<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">0</div>
				</div>
		  </div>
    </div>
    <div class="col-sm-4 well device-hotel">
        <h2>設備やサービス</h2>
        <ul class="list-group">
        	<li class="list-group-item glyphicon glyphicon-unchecked">
        		<span class="glyphicon glyphicon-signal"> Wifi</span>
        	</li>
        	<li class="list-group-item glyphicon glyphicon-check">
        		<span class="glyphicon glyphicon-ruble"> 駐車場</span>
        	</li>
        	<li class="list-group-item glyphicon glyphicon-unchecked">
        		<span class="glyphicon glyphicon-fire"> 朝ご飯</span>
        	</li>
        	<li class="list-group-item glyphicon glyphicon-check">
        		<span class="glyphicon glyphicon-grain"> エアコン</span>
        	</li>
        </ul>
        <div>
        	<h3>他の情報：</h3>
        </div>
    </div>
    <div class="col-sm-4 well map-hotel">
        <p>地図</p>
        <div id="mode-selector" class="controls">
          <input type="radio" name="type" id="changemode-walking">
          <label for="changemode-walking">Walking</label>

          <input type="radio" name="type" id="changemode-transit">
          <label for="changemode-transit">Transit</label>

          <input type="radio" name="type" id="changemode-driving" checked="checked">
          <label for="changemode-driving">Driving</label>
        </div>

        <div id="map"></div>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEGMQbGWSDr1NX836ETayJrGv3WqHaxo4&libraries=places&callback=initMap">
        </script>
    </div>
</div>
<div class="row">
    <div class="well comment">
        <div class="row">
            <div class="comment-content">
                <ul class="comment-errors"></ul>
                <div class="blog-comment">
                  <% if user_signed_in? %>
                  <div class="pb-cmnt-container">
                    <%= form_for :comment,
                      url: hotel_comments_path(:hotel_id => @hotel.id),
                      :html => {:class => "form-inline"}, remote: true do |f| %>
                      <%= f.text_area :body, placeholder: "Add a comment",
                        class: "box-clear" %><br/>
                      <%= f.hidden_field :user_id, value: current_user.id, id: "user_hotel" %>
                      <%= f.hidden_field :hotel_id, value: @hotel.id %>
                      <%= f.submit "Add Comment",
                        class: "btn btn-primary pull-right", data: {send: "hotel"} %>
                    <% end %>
                  </div>
                  <hr/>
                <% else %>
                  <p>コメントのために<%= link_to "ログイン", new_user_session_path %>下さい</p>
                  <%= form_for :comment,
                      url: hotel_comments_path(:hotel_id => @hotel.id),
                      :html => {:class => "form-inline"}, remote: true do |f| %>
                    <%= f.hidden_field :hotel_id, value: @hotel.id %>
                  <% end %>
                <% end %>
                <ul class="comments" id="comments_hotel">
                  <li class="clearfix">
                    <p>
                      <%= render @hotel.comments.order(:created_at) %>
                    </p>
                  </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="comment-modal" class="modal fade"></div>
